@using GraphAlgorithmsAndVisualization.Models
@using GraphAlgorithmsAndVisualization.Visualization
@using System.Drawing
@model GraphModel
<table class="canvas">
    <tr>
        <form method="post">
            <td colspan="1">
                <input type="text" placeholder="enter help for help" asp-for="@Model.Command"/>
            </td>
            <td colspan="1">
                <input type="submit" asp-page-handler="IssueCommand" value="Issue Command"/>
            </td>
        </form>
    </tr>
    <tr>
        <td colspan="2">
            <form method="post">
                <canvas id="graphcanvas" tabindex="1"/>
                <input id="graphcanvasx" type="text" hidden value="" asp-for="@Model.X"/>
                <input id="graphcanvasy" type="text" hidden value="" asp-for="@Model.Y"/>
                <input id="graphcanvasbtnleft" asp-page-handler="GraphCanvasClickLeft" hidden type="submit" value="submit"/>
                <input id="graphcanvasbtnright" asp-page-handler="GraphCanvasClickRight" hidden type="submit" value="submit"/>
                <input id="graphcanvasdelete" asp-page-handler="GraphCanvasDelete" hidden type="submit" value="submit"/>
            </form>
        </td>
    </tr>
</table>
<script type="text/javascript">
var gc = document.getElementById("graphcanvas");
var rect = gc.getBoundingClientRect();
gc.width = rect.width * 2;
gc.height = rect.height * 2;
var ctx = gc.getContext("2d");
gc.addEventListener("mousedown", function(e){GraphCanvasClick(e);});
gc.addEventListener("keydown", function(e){GraphCanvasKeyDown(e);});
gc.focus();
function GraphCanvasClick(e)
{
    e = e || window.event;
    var rect = gc.getBoundingClientRect();
    var x = (e.clientX - rect.left) * gc.width / rect.width;
    var y = (e.clientY - rect.top) * gc.height / rect.height;
    document.getElementById("graphcanvasx").value = x.toString();
    document.getElementById("graphcanvasy").value = y.toString();
    if(e.which === 3) document.getElementById("graphcanvasbtnright").click();
    if(e.which === 1) document.getElementById("graphcanvasbtnleft").click();
}
function GraphCanvasKeyDown(e)
{
    e = e || window.event;
    var key = e.key;
    if(key == "Delete") document.getElementById("graphcanvasdelete").click();
}
function ClearCanvas()
{
    ctx.fillStyle = "white";
    ctx.fillRect(0, 0, gc.width, gc.height);
}
function DrawCircle(color, x, y, radius)
{
    ctx.strokeStyle = color;
    ctx.fillStyle = color;
    ctx.lineWidth = 2;
    ctx.beginPath();
    ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
    ctx.stroke();
}
function DrawText(color, x, y, text, font)
{
    ctx.strokeStyle = color;
    ctx.fillStyle = color;
    ctx.font = font + "px FreeMono";
    ctx.textAlign = "center";
    ctx.fillText(text, x, y);
}
function DrawLine(color, x1, y1, x2, y2, thickness)
{
    ctx.strokeStyle = color;
    ctx.fillStyle = color;
    ctx.lineWidth = thickness;
    ctx.beginPath();
    ctx.moveTo(x1, y1);
    ctx.lineTo(x2, y2);
    ctx.stroke();
}
function DrawArrow(color, x1, y1, x2, y2, x3, y3)
{
    ctx.strokeStyle = color;
    ctx.fillStyle = color;
    ctx.beginPath();
    ctx.moveTo(x1, y1);
    ctx.lineTo(x2, y2);
    ctx.lineTo(x3, y3);
    ctx.lineTo(x1, y1);
    ctx.stroke();
    ctx.fill();
}
</script>

@if(@Model.Canvas is not null)
{
    <script type="text/javascript">ClearCanvas()</script>
    foreach(var circle in Model.Canvas.CircleElements)
    {
        if(circle.Color == Color.Blue){ <script type="text/javascript">DrawCircle("blue", @circle.Center.X, @circle.Center.Y, @circle.Radius)</script>}
        else { <script type="text/javascript">DrawCircle("black", @circle.Center.X, @circle.Center.Y, @circle.Radius)</script> }
    }
    foreach(var text in Model.Canvas.TextElements)
    {
        var size = VisualizationSettings.GetTextSize(text.Text);
        var x = text.Position.X;
        var y = text.Position.Y + size.height/2;
        var t = text.Text;
        if(text.Color == Color.Blue){ <script type="text/javascript">DrawText("blue", @x, @y, "@t", @VisualizationSettings.FontSize)</script> }
        else { <script type="text/javascript">DrawText("black", @x, @y, "@t", @VisualizationSettings.FontSize)</script> }
    }
    foreach(var line in Model.Canvas.LineElements)
    {
        if(line.Color == Color.Blue){ <script type="text/javascript">DrawLine("blue", @line.Start.X, @line.Start.Y, @line.End.X, @line.End.Y, @line.Thickness)</script> }
        else { <script type="text/javascript">DrawLine("black", @line.Start.X, @line.Start.Y, @line.End.X, @line.End.Y, @line.Thickness)</script> }
    }
    foreach(var arrow in Model.Canvas.ArrowElements)
    {
        if(arrow.Color == Color.Blue){ <script type="text/javascript">DrawArrow("blue", @arrow.Tip.X, @arrow.Tip.Y, @arrow.Left.X, @arrow.Left.Y, @arrow.Right.X, @arrow.Right.Y)</script> }
        else { <script type="text/javascript">DrawArrow("black", @arrow.Tip.X, @arrow.Tip.Y, @arrow.Left.X, @arrow.Left.Y, @arrow.Right.X, @arrow.Right.Y)</script> }
    }
}


